.characters {
  text-align: center;
  color:  white;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search-input {
  margin-left: 20px;
}

app-paginator {
  margin-top: auto;
}
