<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-auto">
      <div class="card mb-3">
        <img [src]="character.image" class="card-img-top" alt="{{ character.name }}">
        <br>
        <h5 class="card-title">{{ character.name }}</h5>
        <h5 [ngClass]="{
          'status-alive': character.status === 'Alive',
          'status-dead': character.status === 'Dead',
          'status-unknown': character.status === 'unknown'
        }">Estado: {{ character.status | translateEsp:'status' }}</h5>
        <h5 class="card-title">Especie: {{ character.species }}</h5>
        <h5 class="card-title">Género: {{ character.gender | translateEsp:'gender' }}</h5>
        <h5 class="card-title">Origen: {{ character.origin.name }}</h5>
        <h5 class="card-title">Ubicación: {{ character.location.name }}</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Episodios</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let episode of character.episode">
              {{ episode }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
