<app-nav-bar></app-nav-bar><br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-auto" *ngIf="character">
      <div class="card mb-3">
        <img [src]="character.image" class="card-img-top" alt="{{ character.name }}">
        <br>
        <h5 class="card-title">{{ character.name }}</h5>
        <h5 [ngClass]="{
          'status-alive': character.status === 'Alive',
          'status-dead': character.status === 'Dead',
          'status-unknown': character.status === 'unknown'
        }">Estado: {{ character.status | translateEsp:'status' }}</h5>
        <h5 class="card-title">Especie: {{ character.species }}</h5>
        <h5 class="card-title">Género: {{ character.gender | translateEsp:'gender' }}</h5>
        <h5 class="card-title">Origen: {{ character.origin.name }}</h5>
        <h5 class="card-title">Ubicación: {{ character.location.name }}</h5>
      </div>
    </div>

    <div class="col-md-6" *ngIf="episodes.length > 0">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Episodios</h5>
          <ul class="list-group">
            <li *ngFor="let episode of episodes">
              <strong>Temporada {{ episode.season }} Episodio {{ episode.episodeNumber }}</strong>: {{ episode.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6" *ngIf="episodes.length === 0">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">No hay episodios para este personaje.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
