.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
  left: 0;
}

.navbar a:hover {
  color: #00FF00; /* Verde flúor */
}

.container {
  margin-top: 56px;
}

.navbar a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-brand img {
  height: 40px;
  width: auto;
  margin-right: 10px;
  vertical-align: middle;
}
